@font-face {
  font-family: 'Spider';
  src: url('fonts/THEAMAZINGSPIDER-MAN.woff2') format('woff2'),
      url('fonts/THEAMAZINGSPIDER-MAN.woff') format('woff');
  font-weight: normal;
  font-style:normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spider";
}

body{
  display: grid;
  grid-template: 170px 1fr / 250px 5fr;
}

li {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 12px;
}

img {
  width: 30px;
  height: 30px;
  filter: brightness(0) invert(1);
}


/* SIDEBAR */
.sidebar {
  grid-row: 1 / 3;
  grid-column: 1 / 2;
  display: grid;
  grid-template-rows: 100px 250px 200px;
  background-color: #be123c;
  color: rgb(255, 255, 255);
}

.sidebar-logo {
  display: flex;
  padding-top: 24px;
  padding-left: 20px;
  gap: 8px;
  font-size: 30px;
}



.sidebar-sec1 {
  display: flex;
  align-items: center;
  padding-left: 20px;
}

.sidebar-sec1 > ul {
  display: grid;
  grid-template-rows: repeat(6, 40px);
  
}

.sidebar-sec2{
  display: flex;
  align-items: center;
  padding-left: 20px;
}

.sidebar-sec2 > ul {
  display: grid;
  grid-template-rows: repeat(3, 40px);
}


/* HEADER */
.header {
  padding: 20px;
  padding-left: 40px;
  padding-right: 80px;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  background-color: #447BBE;
  box-shadow: 0 4px 2px -2px gray;
}

.header-sec1 {
  display: flex;
  justify-content: space-between;
  color:white;
}

.header-sec1a {
  display: flex;
  align-items: center;
  gap: 16px;
}

.search, .notification{
  width: 25px;
  height: 25px;
}

input {
  width: 500px;
  border-radius: 50px;
  border-style: none;
  height: 20px;
}

.header-sec1b {
  display: flex;
  align-items: center;
  gap: 16px;
}

.spiderman-logo {
  filter: none;
  height: 50px;
  width: 50px;
}

.header-sec2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-sec2a {
  display: flex;
  gap: 16px;
  color: white;
  align-items: center;
}

.spiderman-logob {
  filter: none;
  height: 100px;
  width: 100px;
}

button{
  color: white;
  background-color: #be123c;
  width: 120px;
  height: 40px;
  border-style: none;
  border-radius: 50px;
  text-align: center;
  padding: 15px;
}

.main-content {
  padding: 30px;
  padding-top: 80px;
  display: grid;
  grid-template-columns: 4fr 1fr;
  gap: 25px;
  position: relative;
}

.project-heading {
  position: absolute;
  top: 50px;
  left: 50px;
}

.left {
  display: grid;
  grid-template: 1fr / repeat(auto-fill, minmax(360px, 1fr));
  gap: 20px;
}

.card {
  width: auto;
  height: 200px;
  padding: 25px;
  border-left: #447BBE 10px solid;
  border-right: #447BBE 10px solid;
  border-radius: 10px;
  background-color: #be123c;
  box-shadow: 0 4px 2px -2px gray;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 8px;
}



.right {
  justify-items: end;
  display: grid;
  grid-template-rows: 300px 280px;
  gap: 60px;
}

.announcement-heading{
  position: absolute;
  top: 50px;
  right: 170px;
}
.trending-heading {
  position:absolute;
  top: 410px;
  right: 220px;
}
.announcements {
  height: 300px;
}

.announcements > div {
  width: max-width;
  height: 90px;
  padding: 10px;
  border-bottom: 2PX SOLID WHITE;
  overflow: hidden;
  text-overflow: ellipsis;
}


.trending {
  height: 280px;
  gap: 16px;
}

.trending > div {
  display: flex;
  align-items: center;
  gap: 12px;
}

.trending-img {
  filter: none;
  width: 80px;
  height: 80px;
}

.announcements, .trending {
  width: 250px;
  box-shadow: 0 4px 2px -2px gray;
  background-color: #447BBE;
  border-radius: 10px;
  color: white;
  border-left: #be123c 10px solid;
  border-right: #be123c 10px solid;
  display: flex;
  flex-direction: column;
  padding: 12px;
}












/* COOL STUFF */

.left { visibility: hidden; }
/* Prevents :hover from triggering in the gaps between items */

.left > * { visibility: visible; }
/* Brings the child items back in, even though the parent is `hidden` */

.left > * { transition: opacity 150ms linear 100ms, transform 150ms ease-in-out 100ms; }
/* Makes the fades smooth with a slight delay to prevent jumps as the mouse moves between items */

.left > * { opacity: 0.9; transform: scale(0.9); }
/* Fade out all items when the parent is hovered */

.left > *:hover { opacity: 1; transform: scale(1); transition-delay: 0ms, 0ms; }


ul { visibility: hidden; }
/* Prevents :hover from triggering in the gaps between items */

ul > * { visibility: visible; }
/* Brings the child items back in, even though the parent is `hidden` */

ul > * { transition: opacity 150ms linear 100ms, transform 150ms ease-in-out 100ms; }
/* Makes the fades smooth with a slight delay to prevent jumps as the mouse moves between items */

ul > * { opacity: 0.9; transform: scale(0.9); }
/* Fade out all items when the parent is hovered */

ul > *:hover { opacity: 1; transform: scale(1); transition-delay: 0ms, 0ms; }


.header-sec2b { visibility: hidden; }
/* Prevents :hover from triggering in the gaps between items */

.header-sec2b > * { visibility: visible; }
/* Brings the child items back in, even though the parent is `hidden` */

.header-sec2b > * { transition: opacity 150ms linear 100ms, transform 150ms ease-in-out 100ms; }
/* Makes the fades smooth with a slight delay to prevent jumps as the mouse moves between items */

.header-sec2b > * { opacity: 0.9; transform: scale(0.9); }
/* Fade out all items when the parent is hovered */

.header-sec2b > *:hover { opacity: 1; transform: scale(1); transition-delay: 0ms, 0ms; }