@font-face {
    font-family: 'THE AMAZING SPIDER-MAN';
    src: url('THEAMAZINGSPIDER-MAN.woff2') format('woff2'),
        url('THEAMAZINGSPIDER-MAN.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

